{% extends 'base.html' %}

{% block title %}
    титульник product_list-a
{% endblock %}

{% block content %}
    <p>Content from product_list.html</p>
    <h1>{{ title }}</h1>
    <!--
        список можно перебрать циклом {% for ... in ... %}
        в шаблоне обязателен закрывающий тег {% endfor %}.
    -->
    {% for product in products %}
        <p>{{ product }}</p>
        <!--
        В циклах, применяемых в шаблонах Django, доступна переменная forloop — объект с несколькими полезными атрибутами
        -->
        {% if forloop.last %}
            <hr>
        {% endif %}
    <!--
        В циклах шаблонов можно применить необязательный одиночный тег  empty ; его ставят перед закрывающим тегом  endfor . Если коллекция, переданная в цикл, пуста, будет выведено содержимое, размещённое между  empty  и  endfor . 
    -->
    {% empty %}
        <p>Товаров пока нет</p>
    {% endfor %}
{% endblock %}